.App {
  /*text-align: center;*/
  padding: 5em;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  padding: 100px;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;*/
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn {
  color: white;
  background-color: black;
  border-color: white;
}
